language: node_js
node_js:
- '8'
branches:
  only:
  - master
  - develop
  - "/^v.*$/"
addons:
  apt:
    packages:
      - xvfb
install:
    - npm install -g xvfb-maybe
before_script:
    - export CHROME_BIN=chromium-browser
    - export DISPLAY=:99.0
    - sh -e /etc/init.d/xvfb start
    - npm install --quiet -g gulp
    - npm install
script:
    - npm run build
    - xvfb-maybe ./node_modules/karma/bin/karma start karma.conf.js --single-run
before_deploy:
    - npm run prerelease
deploy:
  - provider: releases
    skip_cleanup: true
    email: pkerpedjiev@gmail.com
    api_key:
      secure: qVTt8MMZAOtabn3nQJak/biBdtqjdE8VnCrh9qrTIZRbDWUncLMLP0gVuWoTEo6YBsA9joVTvd+qb0RjOA0SSwKDgcAO3aTLFjfmUUqtY7PtyQ/LvyYGDbcbneN2hEFFumaTbrCyue4R1XUQsK+U8/GJ1RUGI9AQpio6vWcy/g+Dvy8luFvbR2cJtMj+2Jt4fEdx/a4tVO66Tz5uhtAB+P8UJOhGN8+NRqnQ+IJRhudOzJi/nXnTvLjt+CwozJIM8ARQjEtf+RwEY+VD82Uz38J++PkHzfSwlJ9ZOYNGpj6y0bAo4FEdsjSDH0VCrOwgY+VBtyDocGnDgCyXrQV1qS8rdX5qiiuhKnchOODCd3HDE+2NUpCNreV0fMoZ7cfRAUIoTv2KnCijg0u1PPpMxGYmtrvRN17XfOjM0BV8kvybeBsWr1LprRNUEN29sYsHieWudo6F3K5xuT2q8ewdDtcWNgRfq1qUweHDZEwD3cXYWjUoS5sxOOfhfrJ/HDmj19ss4olxMODG5vdY5meId9IoszLsrtbRbTcLSgU9gz7tbaHKjpQwqlwb4YxOjapNctefgG5kyeMSwcdMRK6Jh5kZip5+drsT4+OFx6Z28RJ9B73bGqnRvrLqoa933Lcj65bMjXLx/mAx6G+6yV5ipKPP0awhMUIiTCLzB/RXkk8=
    file: dist.zip
    on:
      tags: true
      branch: master
      repo: hms-dbmi/higlass-multivec
  - provider: npm
    skip_cleanup: true
    email: pkerpedjiev@gmail.com
    api_key:
        secure: "WFrafS61TzRIahkpRyBd0Tp6J7B7Lb8uo76qSo7H+qEIL62AeiTq4asc2k+6p7byGTtmQg4H6WD0ir6CdkcLX9n2Qtv44ZAvTjn8T6piaRdd/JbMkg5Pj8C/wHYHen/MHuFUzvDKcuAnA0YUdhzOzePqUkkPa6CMPV8x1VBl20fQKgvpWm9w413ezu2Xes8RX3MuK1Tc266enJuCDSu7sd45jsb4YMFL3/19TdYDJhncTz8f8P4bFR33G98sWe6kgWldhlNxV0+9RKC98fVsBMQTUYAHZEWFAvcn0BnAQxyvQHupZbiqgyRmjfKKDvSimsvHg4RApx4FRPDurt2aBFOzW2grkApytnhSY7kbQyMZfjcAeIJeHQe+mnHugysiLm9YI8SN79xLLJKcswh8Qw/Q3YRp4u7vdbv2w7Z6KMknrgAJ79Nhl1HJivhrU19OJSnoC5Zp+pOrvD2cxea1tojH14urZgnSaK/oL1bCMnxrs7+lTlu2YLl66mi75cUyXiGAYk6xDijH96LLmA8xC6kQn4TXcoj0HlNVDwm5CytpH+Wno99GltMjJkl1dbsJu8NkBTqPLvHMBvNFtRN/pf6eZPZX+QChQTPAfDEMpqdaUFWjZn2h8ZKoM9ZSEHgR7GLKQIjTMIdtkPpInsYrNx62RvnHGikuTWJWE/fWMjE="
    on:
      tags: true
      branch: master
      repo: hms-dbmi/higlass-multivec
